*
!.dockerignore
!LICENSE
!NOTICE
!requirements.txt
!server.py
!product-version.json
!package.json
!package-lock.json
!tsconfig.json
!vite.config.ts
!minem/
!minem/**
!frontend/
!frontend/**
!scripts/
!scripts/**
!templates/
!templates/**

**/__pycache__/
**/*.py[cod]
**/.DS_Store
